body {
  background: url('../assets/Department-of-Agriculture.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f7f9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-box {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.logo img {
  width: 100px;
}

.input-group {
  margin-bottom: 1rem;
  text-align: left;
}

.input-group label {
  display: block;
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.input-group input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}


/* Add spacing for new name fields */
.register-form .form-group {
  margin-bottom: 15px;
}

.register-form input {
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 90%;
}
/* Dropdown styling */
form select { 
  padding: 5px 0px 5px 0px;
  border: 1px solid #025a18;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #ffffff;
  color: #333333;
  cursor: pointer;
  text-align: center; /* Centers the selected text */
  text-align-last: center; /* Ensures selected option text stays centered */
}

form select:focus {
  outline: none;
  border-color: #026918;
}

form select option {
  color: #333333;
  text-align: center;
}

.login-button {
  background-color: #449D44;
  color: #fff;
  padding: 0.8rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  margin-top: 1rem;
  transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #5CB85C;
    
}

.assistance {
  font-size: 0.9rem;
  color: #666;
  margin-top: 1rem;
}
