/* Dropdown button styles */
.drpdn-btn {
    background-color: #007bff;
    color: #f9fcf9;
    font-size: 16px;
    border: none;
    padding: 10px;
    width: 100%;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}
/* Dropdown button hover effect */
.drpdn-btn:hover {
    background-color: #3395FF;
}
/* Dropdown menu styles */
.dropdown-report {
    display: none; /* Hidden by default */
    background-color: #f1f1f1;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 100%; /* Below the parent button */
    width: 100%;
    z-index: 10;
    border-radius: 5px;
}
.dropdown-report li {
    margin: 0;
}
.dropdown-report li a {
    padding: 10px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
}

.dropdown-report li a:hover {
    background-color: #3395FF;
    color: #fff;
}